html, body{
    background-color: #c4c4c4;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#canvas {
  display: block;           /* remove inline-block gap */
  width: 100vw;             /* full viewport width */
  height: 100dvh;            /* full viewport height */
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
